.jumbotron {
    top: 24.41%;
    bottom: 51.17%;
    text-align: center;
    background:linear-gradient(297.17deg, #FFEDBA 6.67%, #EE4D47 91.82%);
  }

  
  h1 {
    position: relative;
    font-family: "Playfair Display", serif;
    font-weight: bold;

    letter-spacing: calc(0.5em+1vh);
    line-height: calc(1em+0.75vh);
    color: white;
    padding-top: 2%;
    font-size: 70px;
  }
  

  .image-1 {
    margin-top: 5%;
  }
  .image-2 {
    margin-top: 5%;
  }
  .image-3 {
    margin-top: 5%;
  }
  .image-4 {
    margin-top: 5%;
  }
  .image-5 {
    margin-top: 5%;
  }
  .image-6 {
    margin-bottom: 5%;
  }
  
  
  .women1 img {
    margin-left: 100px; 
    height: auto;
    width: 500px;
  }

  .women2 img {
    margin-left: 300px;
    height: auto;
    width: 500px;
  }