/* Learning Page 1*/
.learning-page {
    float: right;
    margin-right: 5%;
    margin-left: 8%;
    margin-top: 180px;
    width:auto;
  }
  .learning-heading {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
  }
  .learning-txt {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7d7987;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .learn-more-btn {
    background: #fb8f1d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  
    color: #ffffff;
    font-size: 20px;
  
    padding: 10px;
  }
  .learn-more-btn:hover {
    box-shadow: 2px 2px 5px rgb(224, 129, 5);
    /* text-shadow: 2px 2px 5 px rgb(238, 233, 233); */
  }