.navigation {
  background-color: transparent;
}
.missioned-nav {
  font-size: 40px;

  color: #ff6200;
  opacity: 3;
  letter-spacing: 2.86px;
}
.ed {
  font-size: 45px;

  color: #fa9917;
  opacity: 3;
  letter-spacing: 2.86px;
}
:root {
  --lightOrange: #fa9269;
  --DarkOrange: #fc713a;
}
.name-user {
  background: var(--DarkOrange);
  border-radius: 50% !important;
  color: #ffffff !important;
  box-shadow: 1px 1px 5px 1px var(--DarkOrange);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--lightOrange);
  border-radius: 10px;
}

.background-white {
  background: transparent !important;
  border-left: 0px solid transparent !important;
  border-top: 0.5px solid var(--DarkOrange) !important;
  border-right: 0.5px solid var(--DarkOrange) !important;
  border-bottom: 0.5px solid var(--DarkOrange) !important;
  border-radius: 0px 5px 5px 0px !important;
}
.sign-in-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.4) !important;
  background: #ffffff;
  border-radius: 15px !important;
}
.sign-in {
  background: #fa9269;
  height: 100vh;
}
.form-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.text-light-orange {
  color: var(--DarkOrange) !important;
}
.background-light-orange {
  background: var(--DarkOrange) !important;
}
.background-white {
  background: #ffffff !important;
}

.mission-ed {
  height: 42px;
  width: 187px;
  color: #ff6200;

  font-size: 36px;
  letter-spacing: 2px;
  line-height: 42px;
}
.logo {
  width: 65px;
}

.login {
  color: #fff;
  padding-right: 50px;
}
a.login-btn {
  border: 1px solid #fb8f1d;
  color: #fb8f1d;
  box-sizing: border-box;
  border-radius: 8px;
  width: 132px;
  height: 44px;
  font-size: 20px;
  /* margin-left: 150px; */
}
a.login-btn:hover {
  text-decoration: none;
  background-color: #fb8f1d;
  color: white;
}
a.register-btn {
  width: 132px;
  height: 44px;
  background: #fb8f1d;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  /* margin-left: 20px; */
  font-size: 20px;
}
a.register-btn:hover {
  text-decoration: none;
  color: white;
  background: #ff8300;
}
.navigation {
  background: white;
}

.dropdown-menu {
  border: 0px;
  outline: 0px;
}
.black {
  color: black !important;
}

.blog {
  padding-right: 10px;
}

.navbar-toggler-icon {
  border: none;
}
