body {
  background: white;
  font-family: Roboto;
  background: url("Images/bg.png") center center !important;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden !important;
}
/* Starts */


#header{background:#1E262D;width:100%;position: relative}
#header:after{content:"";clear:both;display:block}

.navbar-expand-xl{
  width: 100%;
}

.row  a:hover{text-decoration: none;color: white;}
.mr-auto{float:right;}
.mr-auto>ul{float:left;position:relative}
.mr-auto li{list-style:none;float:left;}
.mr-auto .dropdown{position:relative}
.mr-auto li a{float:left;padding:20px;color:white;}
.mr-auto li a:hover{background:#2C3E50; text-decoration: none; color: white; }
.mr-auto li .linkname{float:left;padding:23px;color:white;} */
.mr-auto li .linkname:hover{background:#2C3E50; text-decoration: none; color: white; }
.linkname{float:left;padding:15px;color:white;}
.mr-auto li ul{display:none}
.mr-auto li:hover ul{display:inline}
.mr-auto li li{float:none}
.mr-auto .dropdown ul{position:absolute;left:0;top:100%;background:#fff;padding:20px 0;border-bottom:3px solid #34495e;z-index: 1;}
.mr-auto .dropdown li{white-space:nowrap}
.mr-auto .dropdown li a{padding:10px 40px;font-size:13px;min-width:200px}
.mr-auto .mega-dropdown{width:100%;position :absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:10px 30px;border-bottom:3px solid #34495e; z-index: 1 ;}
.mr-auto .dropdown{width:100%;position :absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:10px 30px;border-bottom:3px solid #34495e; z-index: 1 ;}
.mr-auto .mega-dropdown1{width:50%;position:absolute ;top:100%;left:0;background:#fff;overflow:hidden;padding:10px 30px;border-bottom:3px solid #34495e; z-index: 1 ;}
.mr-auto li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px;z-index: 1;}
.mr-auto li li a:hover{background:#bdc3c7;background:blue}
.mr-auto li li .link{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
.mr-auto li li .link:hover{background:#bdc3c7;background:yellow; color: white;}
.mega-col{width:33%;float:left}
.mega-col1{width:20%;float:left}
.mega-col2{width:100%;float: right;}





@media only screen and (max-width: 100px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:500px;overflow-y:scroll}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  
  nav{padding:10px}
  nav ul{float: left;}
  nav li{float: left}
  nav ul li a{float:none;padding:8px;display:block}
  /* HERE */
  /* #header nav ul ul{display:block;position: relative;;background:none;border:none;padding:0} */
  .mr-auto>ul{float:left;position:relative}
  #header nav a{padding:8px;}
  #header nav a:hover{background: #34495e;color:#333;border-radius:1px}
  /* #header nav ul li li a:before{content:"- "} */
  .mega-col1{
    width: 20%;
    height: 100%;
  }
  .mega-col{
    width: 33%;
    height: 100%;
  }
  .mega-link{width: 100%;text-align: center;}
  .mr-auto .mega-dropdown{height:100%}
  .mr-auto .mega-dropdown{width:100%;position :absolute;top:100%;left:0;background:#fff;overflow:hidden;border-bottom:3px solid #34495e; z-index: 1 ;}
.mr-auto .dropdown{width:100%;position :absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:10px 30px;border-bottom:3px solid #34495e; z-index: 1 ;}
.mr-auto .mega-dropdown1{width:100%;position:absolute ;top:100%;left:0;background:#fff;overflow:hidden;padding:10px 30px;border-bottom:3px solid #34495e; z-index: 1 ;}
.mr-auto li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px;z-index: 1;}
/* .mr-auto li li a:hover{background:blue} */
  .btn{
      float: right;
  }
}

a.login-btn {
  border: 1px solid #fb8f1d;
  color: #fb8f1d;
  box-sizing: border-box;
  border-radius: 8px;
  width: 132px;
  height: 44px;
  font-size: 20px;
  /* margin-left: 150px;*/ 
}

/* a.login-btn:hover {
  text-decoration: none;
  background-color: #fb8f1d;
  color: white;
} */

a.register-btn {
  width: 100px;
  height: 44px;
  /* background: #fb8f1d;
  color: #ffffff; */
  box-sizing: border-box;
  border-radius: 8px;
  /* margin-left: 20px; */
  font-size: 20px;
}

a.register-btn:hover {
  text-decoration: none;
  /* color: white;
  background: #ff8300; */
}

.missioned-nav {
  font-size: 45px;

  color: #ff6200;
  opacity: 3;
  letter-spacing: 2.86px;
}
.logo {
  width: 100px;
  padding-left: 20px;
}

.tagline{
  z-index: -1;
}



/* Ends */
h1 {
  font-family: Playfair Display;
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
}
/* @media (max-width: 400px) {
  .missioned-nav {
    font-size: 30px;
  }
} */
@media (max-width: 754px) {
  .counters {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* @media (max-width: 400px) {
  .ed {
    font-size: 30px;
  }
} */
@media (max-width: 1320px) {
  .teach {
    margin-top: 40px;
  }
}
@media (max-width: 900px) {
  .tagline {
    font-size: 50px;
    z-index: 1;
  }
}
@media (max-width: 900px) {
  .tg2 {
    font-size: 20px;
  }
}

.image_section img {
  display: block;
  margin: 70px 100px;
}

@media (max-width: 1408px) {
  .feature .main {
    margin-top: 1250px;
  }
}

@media (max-width: 1320px) {
  .image_section img:first-child {
    display: none;
  }
}
@media (max-width: 1320px) {
  .tg4 {
    display: none;
  }
}
@media screen and (max-width: 601px) {
  .centered-num {
    margin-right: 50%;
  }
}
@media (max-width: 450px) {
  .play img {
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 100%; */
    height: auto;
  }
}

@media screen and (max-width: 601px) {
  .tg4 {
    font-size: 5vw;
  }
}
@media (max-width: 1414px) {
  .img-section-left {
    display: none;
  }
}
@media (max-width: 1414px) {
  .learning-page {
    display: block;
    /*float: none;*/
    margin: -50px 20% 5%;
    width: 50%;
  }
}

@media (max-width: 1414px) {
  .learning-page-2 {
    display: block;
    /*float: none;*/
    margin: 3% 30% 5%;
    width: 50%;
  }
}
@media (max-width: 1386px) {
  .feature {
    margin-top: 170px;
  }
}
@media (max-width: 1414px) {
  .img-section-right {
    display: none;
  }
}
@media (max-width: 1382px) {
  .img-mobile {
    display: none;
  }
}
@media (max-width: 1382px) {
  .books {
    display: none;
  }
}
@media screen and (max-width: 601px) {
  .app-txt {
    font-size: 70%;
    margin-top: 30px;
  }
}

@media (max-width: 1396px) {
  .counselling-img {
    display: none;
  }
}
@media screen and (max-width: 601px) {
  .counselling-left {
    font-size: 70%;
  }
}

@media (max-width: 1396px) {
  .counselling {
    margin-top: 50px;
  }
}
@media (max-width: 1396px) {
  .get-app {
    margin-top: 50px;
  }
}

@media (max-width: 1396px) {
  .learning-heading-2 {
    margin-top: 80px;
  }
}
/*!function(t){"use strict";t.fn.countUp=function(e){var a=t.extend({time:2e3,delay:10},e);return this.each(function(){var e=t(this),n=a,u=function(){e.data("counterupTo")||e.data("counterupTo",e.text());var t=parseInt(e.data("counter-time"))>0?parseInt(e.data("counter-time")):n.time,a=parseInt(e.data("counter-delay"))>0?parseInt(e.data("counter-delay")):n.delay,u=t/a,r=e.data("counterupTo"),o=[r],c=/[0-9]+,[0-9]+/.test(r);r=r.replace(/,/g,"");for(var d=(/^[0-9]+$/.test(r),/^[0-9]+\.[0-9]+$/.test(r)),s=d?(r.split(".")[1]||[]).length:0,i=u;i>=1;i--){var p=parseInt(Math.round(r/u*i));if(d&&(p=parseFloat(r/u*i).toFixed(s)),c)for(;/(\d+)(\d{3})/.test(p.toString());)p=p.toString().replace(/(\d+)(\d{3})/,"$1,$2");o.unshift(p)}e.data("counterup-nums",o),e.text("0");var f=function(){e.text(e.data("counterup-nums").shift()),e.data("counterup-nums").length?setTimeout(e.data("counterup-func"),a):(delete e.data("counterup-nums"),e.data("counterup-nums",null),e.data("counterup-func",null))};e.data("counterup-func",f),setTimeout(e.data("counterup-func"),a)};e.waypoint(u,{offset:"100%",triggerOnce:!0})})}}(jQuery);
*/
